@import "game";
@import "player";

body {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

.flex {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  width: 40%;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 0px 10px;

  h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    color: #3F5166;
    margin: 20px 0px;
  }

  button {
    font-family: "Varela Round", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    background: none;
    border: 1px solid #3F5166;
    padding: 7.5px 15px;
    border-radius: 20px;
    margin: 15px 0px;

    &:hover {
      border: 1px solid #909090;
      color: #909090;
    }

    &:focus {
      outline: none;
    }
  }
}

.right {
  width: 30%;
  padding: 0px 10px;
}
